<%- include("../partials/head"); %>
<%- include("../partials/navbar"); %>
<div class="container addmargin">
  <div class="row">
    <div class="col-md-8">
      <h1 class="myfonts mt-3 mb-4">Detail Pelanggan</h1>
      <% if (!contact) { %>
      <div class="alert alert-danger fw-bold" role="alert">
        Data Pelanggan tidak ada.<br />
        <a href="/contact" class="alert-link fw-normal"
          >&laquo; Kembali ke daftar pelanggan</a
        >
      </div>
      <% } else{ %>
      <div class="card" style="width: 24rem">
        <div class="card-body">
          <h5 class="card-title"><%= contact.nama %></h5>
          <h6 class="card-subtitle mb-2 text-muted"><%= contact.nohp %></h6>
          <p class="card-text"><%= contact.email %></p>
          <!-- <a
            href="/contact/delete/<%= contact.nama %>"
            class="btn btn-danger badge"
            onclick="return confirm ('Yakin Mau dihapus??')"
            >Hapus</a
          > -->
          <form action="/contact?_method=DELETE" method="POST" class="d-inline">
            <input type="hidden" name="nama" value="<%= contact.nama %>" />
            <button
              type="submit"
              class="btn btn-danger badge"
              onclick="return confirm(`Yakin??`)"
            >
              Hapus
            </button>
          </form>
          <a href="/contact/edit/<%= contact.nama %>" class="btn btn-info badge"
            >Edit</a
          >
          <a href="/contact" class="card-link d-block mt-3"
            >&laquo; Kembali ke daftar pelanggan</a
          >
        </div>
      </div>
      <% } %>
    </div>
  </div>
</div>
<%- include("../partials/footer"); %>